body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    background-color: bisque;
}

.form{
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 6px;
    margin: 10px;
    position: relative;
}
.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 25px;
    text-align: center;
    padding: 5px;
    border: solid 4px green;
    color: green;
    border-radius: 3px;
}
.input::placeholder{
    color: lightgray;
    font-family: cursive;
}
.btn{
    background-color: green;
    color: white;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-color: green;
    padding: 3px;
    margin: 3px 0;
    font-family: cursive;
    border-radius: 3px;
    box-shadow: 0 px 4px rgba(0,0,0,0.3);
    cursor: pointer;
}
.btn:hover{
    filter: brightness(0.9);
}

.score{
    position: absolute;
    margin: 0;
    right: 3.5%;
    top: 6px;
    font-size: 14px;
    font-family: cursive;
    color: green;
}

